#container {
    display: flex;
    background-color: red;
    /* justify-content: space-around; */
}

#container>div>img {
    margin-left: 40px;
    margin-top: 40px;
    color: none;
}

#container>div+div {
    border-width: 100%;
    margin-left: 330px;
    margin-top: 40px;
}

#container>div>p {
    display: flex;
    color: azure;
}


/* #content {
    display: flex;
    margin: auto;
    border: 1px solid red;
    justify-content: space-evenly;
} */

#content>div {
    border: 1px solid teal;
    display: flex;
    background-color: blue;
    justify-content: space-evenly;
    color: white
}

#firs>img {
    width: 100%;
}

#multi {
    position: relative;
}

#multi>img {
    width: 100%;
    margin: auto;
}

#multi>button {
    position: absolute;
    top: 50%;
}

#first {
    left: 30px;
}

#second {
    right: 30px,
}